h1 {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  left: 50%;
  transform: translateX(-50%);
  color: rgb(253, 0, 13);
  font-size: 50px;
  z-index: 1;
}

/* Media query for screens smaller than 850px */
@media only screen and (max-width: 850px) {
  h1 {
    position: static; /* Change the position to static */
    font-size: 30px; /* Adjust the font size */
    margin-top: 20px; /* Add some margin-top */
  }

  table {
    margin-top: 100px; /* Adjust the margin-top for the table */
  }
}