h1 {
  position: fixed;
  top: 20px; /* Adjust the top position as needed */
  left: 50%;
  transform: translateX(-50%);
  color: rgb(253, 0, 13);
  font-size: 75px;
  z-index: 1;
}

/* Media query for screens smaller than 600px (e.g., smartphones) */
@media only screen and (max-width: 600px) {
  h1 {
    position: static; /* Change the position to static */
    font-size: 30px; /* Adjust the font size */
    margin-top: 20px; /* Add some margin-top */
  }
}
  .teams-container {
    display: flex;
    justify-content: space-around; /* Distribute items evenly along the main axis */
    margin-top: 20px; /* Adjust margin as needed */
  }
  table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.8); /* Lighter color */
  }
  
  table tbody tr:nth-child(odd) {
    background-color: rgba(73, 2, 2, 0.8); /* Darker color */
  }